.sticky-video[data-v-20edddf3]{position:sticky;top:0;z-index:10;background:#fff;width:100%;aspect-ratio:16 / 9;border-bottom:1px solid #ddd}iframe[data-v-20edddf3]{width:100%;height:100%;border:none}
